html, body
{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: jetbrains mono, Monospace;
  background-color: rgb(60, 60, 60);
  max-width: 1440px;
  min-width: 720px;
}

.container
{
  background-color: whitesmoke;
  max-width: 1920px;
  min-width: 1080px;
  margin: 0 auto;
}
  .navbar
  {
    font-family: suse, monospace;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: auto;
  }
    .adbar
    {
      align-items: center;
      background: linear-gradient(to right, #ffc6ff, #bdb2ff, #a0c4ff, #9bf6ff, #caffbf, #fdffb6, #ffd6a5);
      height: 6vh;
    }
      .adbar .subtitle
      {
        font-family: jetbrains mono, monospace;
        display: grid;
        height: 5vh;
        background-color: rgba(30, 30, 30, 1);
        color: whitesmoke;
        font-size: 1em;
        text-align: center;
        align-items: center;
        }
    .navbar-cont
    {
      display: flex;
      height: auto;
      background-color: rgba(18, 18, 18, 1);
      color: whitesmoke;
      justify-content: space-between;
      align-items: center;
      height: 7vh;
      box-shadow: 0 1vh 2vh 0.1vh rgba(30, 30, 30, 0.6);
    }
      .navcont-c1
      {
        display: flex;
        align-items: center;
      }
        .navcont-c1 img
        {
          display: grid;
          align-items: center;
          width: 32px;
          height: auto;
        }
        .navcont-c1 div
        {
          padding-left: 3vw;
        }
      .navcont-c2
      {
        display: flex;
        font-size: 1.5rem;
      }
        .navcont-c2 div
        {
          padding-right: 3vw;
        }
  .header
  {
    display: grid;
    height: 13vh;
    background-color: whitesmoke;
    color: rgba(30, 30, 30, 1);
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }
  .b1
  {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 36px;
    height: 72vh;
    background-image: url(bg-image.jpg);
    background-size: cover;
    background-position: 0 5%;
    background-color: rgb(36, 36, 36);
  }
    .b1 div
    {
      color: whitesmoke;
      text-align: center;
    }
      .b1h
      {
        font-size: 10rem;
        background: linear-gradient(to bottom, #ffc6ff, #bdb2ff, #a0c4ff, #9bf6ff, #caffbf, #fdffb6, #ffadad);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
  .b2
  {
    border-top: 6px solid #fdffb6;
    display: block;
    background-color: #a0c4ff;
    padding: 3vw;
  }
    .b2b
    {
      display: flex;
    }
      .b2b1
      {
        width: 50%;
        text-align: center;
        font-size: 4.8rem;
        padding: 0 3vw;
      }
        .b2b1-top
        {
          font-size: 1rem;
          color: whitesmoke;
        }
      .b2b2
      {
        width: 50%;
        font-size: 1rem;
      }
  .b3
  {
    border-top: 6px solid #fdffb6;
    background-color: #bdb2ff;
  }
    .b3 div
    {
      color: whitesmoke;
      font-size: 15pt;
    }
  .b4
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 36px;
    height: 300px;
    background-color: rgb(42, 42, 42);
  }
    .b4 div
    {
      color: whitesmoke;
      font-size: 15pt;
    }
  .footer
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px;
    height: auto;
    background-color: rgb(36, 36, 36);
  }
    .footer div
    {
      color: whitesmoke;
      font-size: 60pt;
      text-align: center;
    }